@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  overflow-x: hidden; /* Prevents side-scrolling on mobile */
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* Custom Scrollbar to look like a premium site */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
}